
:root{
    --background:black;
    --text-color:#fff;
    --font-size-1rem:1rem;
    --font-size-2rem:2rem;
    --font-size-3rem:3rem;
}
.btn{
    transition-property: background-color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}
.btn:hover{
    background-color: var(--text-color);
    color: var(--background);
    cursor: pointer;
}
#btn{
    transition-property: background-color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    border: none;
}
#btn:hover{
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    border-bottom: 3px solid var(--text-color);

}

h1,h5,.buttons,h3,.line,.lin,h4{
  
  opacity: 0; 
  color: var(--text-color);

  animation: fadeInUp 1s ease-in-out 0s forwards;

  &.first {
    animation-delay: 1s;
  }
  &.second {
    animation-delay: 2s;
  }
  &.third {
    animation-delay: 3s;
  }
  &.fourth{
    animation-delay: 4s;
  }
  &.last{
    animation-delay: 5s;
  }
  &.delay{
    animation-delay: 2s;
  }
 
}



@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}